body{
	overflow-x: hidden;
}
#admin-container{
	margin-top: 55px;
    margin-left: 1px;
    margin-right: 2px;
}
.dash-container {
	    background: black;
    min-height: 611px;
}
.dash-list{
	margin-left: 0px;
	width: 334px;
}
.custom-select{
	width: 125px;
}

.panel-default>.panel-heading{
	color: #fff;
    background-color: #09B493;
    border-color: #4cae4c;
}
.btn-default{
	background: #09B493;
}